@import "./rest";
@import "./mixin"; 




body, html {
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
}
.mokuai1{
    width: 100%;
    height: 90px;
}
.fanwei1{
    width: 1200px;
    height: 90ox;
    margin: 0 auto;
    .header-logo{
        margin-top: 24px;
        width: 108px;
        height: 48px;
    }
    .header-english{
        float: right;
        margin-top: 24px;
        width: 121px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        border: 1px solid #ebebeb;
        font-size: 14px;
        color: #888;
        text-decoration: none;
    }
}


.mokuai2{
    width: 100%;
    height: 540px;
    background-color: #f8f8f8;
    padding-top: 40px;
}
.fanwei2{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    background: #fff;
    padding-top: 40px;
    .re-main{
        width: 720px;
        height: 350px;
        margin: 0 auto;
        .ltr{
            margin-bottom: 20px;
            .content1{
                width: 240px;
                height: 40px;
                line-height: 40px;
                text-align: right;
                padding-right: 12px;
                float: left;
            }
            .content1:before {
                margin-right: 4px;
                content: "*";
                color: #ff3000;
            }
            .rectangle{
                display: block;
                width: 126px;
                height: 38px;
                border: 1px solid #c4c6cf;
                float: left;
                line-height: 38px;
                padding: 0 12px;
                .triangle{
                    position: relative;
                    display: block;
                    top: -28px;
                    left: 116px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px;
                    border-color: #fff #fff transparent transparent;
                    transform: rotate(135deg);
                    box-shadow: 1px -1px 1px #888;
                }
            }
            .phone-input{
                width: 150px;
                height: 36px;
                border: 1px solid #c4c6cf;
            }
        }
    }
}
.ltr{
    .password-input{
        height: 38px;
        width: 300px;
        height: 36px;
        border: 1px solid #c4c6cf;
        padding-left: 10px;
    }
    .password-input2{
        height: 38px;
        width: 300px;
        height: 36px;
        border: 1px solid #c4c6cf;
        padding-left: 10px;
    }
}
.ltr{  
    a{
     color: #08c;
    }
    .foot-title1{
        width: 300px;
        height: 46px;
        margin: 0 auto;
    }
.foot-title1 .p1{
    width: 16px;
    height: 16px;
    border: 1px solid #c4c6cf;
    margin-left: 40px;
    float: left;
    margin-right: 10px;
}
.p1:hover{
    border: 1px solid red;
}
input[type='checkbox'] {
    cursor: pointer;
    position: relative;
    width:16px;
    height: 16px;
    font-size: 12px;
    visibility: hidden;
    }
    input[type='checkbox']::after {
    position: absolute;
    top: -3px;
    left: -4px;
    background-color: #fff;
    color: #fff;
    width: 16px;
    height: 16px;
    display: inline-block;
    visibility: visible;
    padding-left: 0px;
    text-align: center;
    content: ' ';
    }
    
    input[type='checkbox']:checked::after {
    content: '✓';
    font-size: 10px;
    line-height: 16px;
    font-weight: bold;
    background-color: red;
    }
    input[type='checkbox']:hover::after {
    background-color: red;
    opacity: 0.3;
    }
    .p2{
        width: 230px;
        height: 40px;
        line-height: 20px;
        float: left;
    }
}
.ltr{
    .next-btn{
        border-style: solid;
        background-color: #f50;
        border-radius: 3px;
        padding: 0 16px;
        height: 40px;
        line-height: 38px;
        font-size: 18px;
        border-width: 1px;
        color: #fff;
        background-image: linear-gradient(90deg,#ff4aae,#ff1268);
        border: 1px solid #ff1268;
        margin-left: 39%;
    }
}